body {
    font-family: fantasy;
    background-color: #f4f4f4;
    color: #333;
    margin-top: 56px; /* Espaço para a navbar fixa */
}

h2 {
    margin-bottom: 30px;
}

.card {
    border: none;
    transition: transform 0.2s, box-shadow 0.2s; /* Adiciona transição para suavizar */
}

.card:hover {
    transform: translateY(-10px); /* Levanta o card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao hover */
}